.popup__error {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
  height: 25px;
  width: 235px;
  margin-top: 5px;
 }



 @media screen and (min-width: 1280px) {
  .popup__error {
   width: 361px;
   font-size: 14px;
  }
}