.header {
  min-width: 320px;
  padding-top: 28px;
  border-bottom: 1px solid #545454;
}

@media screen and (min-width: 1280px) {
  .header {
    min-width: 880px;
    margin: 45px 200px 22px 200px;
    padding: 0;
  }
}