.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-left: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 211px;
}

@media screen and (min-width: 1024px) {
  .profile__title  {
    font-size: 42px;
    line-height: 29px;
    padding-left: 13px;
    padding-top: 48px;
    width: 326px;
  }
}