.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 25px;
}

@media screen and (min-width: 1024px) {
  .profile__title  {
    font-size: 42px;
    line-height: 29px;
    padding-left: 29px;
    padding-right: 16px;
    padding-top: 48px;
  }
}