.popup__close-button {
  transform: rotate(-45deg);
  border: 0;
  color: white;
  position: absolute;
  left: 85%;
  top: -20%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 49px;
  outline: none;
  cursor: pointer;
}


@media screen and (min-width: 1280px) {
  .popup__close-button {
    font-size: 77px;
    left: 96%;
    top: -21%;
}
}