.popup__close-button {
  transform: rotate(-45deg);
  border: 0;
  color: white;
  position: absolute;
  left: 87%;
  top: -19%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 49px;
  outline: none;
  cursor: pointer;
}


@media screen and (min-width: 1280px) {
  .popup__close-button {
    font-size: 75px;
    left: 99%;
    top: -19%;
}
}