@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  display: swap; 
  src: url("../fonts/Inter-Regular.woff2") format("woff2")
       url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  display: swap; 
  src: url("../fonts/Inter-Black.woff2") format("woff2")
       url("../fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  display: swap; 
  src: url("../fonts/Inter-Medium.woff2") format("woff2")
       url("../fonts/Inter-Medium.woff") format("woff");
}
