.element__icon-button {
  background-image: url(../../../../images/лайк.png);
  width: 22px;
  height: 19px;
  background-position: center;
  border: hidden;
  background-color:white;
  align-self: center;
  margin-left: auto;
  outline: none;
  cursor:pointer
}